body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: #fff;
}

.page-header {
    color: #fff;
    background-color: #363636;
}

.main-nav {
    list-style: none;
}
.main-nav li {
    text-transform: uppercase;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-nav a:hover {
    color: #ffcb78;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #fff;
}

.main-nav a:active {
    color: rgba(255, 203, 120, 0.3);
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #fff;
}

.btn {
    color: #834700;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    color: #6a3900;
}

.btn:active {
    color: rgba(106, 57, 0, 0.3);
}

.promo {
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
}

.advantages {
    background-color: #ffcb78;
}

.advantages ul {
    list-style: none;
}

.advantages-item {
    text-align: left;
    border-left: 1px solid #e5e5e5;
}

.advantages-item:first-child {
    border-left: none;
}

.advantages-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.section-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 61px;
    text-transform: uppercase;
}

.history-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}
.history-source {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 30px;
    text-transform: initial;
}

.history dd img {
    border-radius: 5px;
}

.history-source a {
    color: #834700;
}

.history-source a:hover {
    color: #6a3900;
}

.history-source a:active {
    color: #cab7a2;
}

.reviews-author {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-style: normal;
}