body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: #fff;
}

.page-header {
    color: #fff;
    background-color: #363636;
}

.main-nav {
    list-style: none;
}

.main-nav li {
    text-transform: uppercase;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
}

.main-nav a:hover {
    color: #ffcb78;
    border-bottom: 1px solid #fff;
}

.main-nav a:active {
    color: rgba(255, 203, 120, 0.3);
    border-bottom: 1px solid #fff;
}

.btn {
    color: #834700;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    color: #6a3900;
}

.btn:active {
    color: rgba(106, 57, 0, 0.3);
}

.promo {
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;  
}

.promo a {
    color: #fff;
    text-decoration: none;
}

.features {
    background-color: #ffcb78;
}

.features ul {
    list-style: none;
}

.feature-item {
    text-align: left;
    border-left: 1px solid #e5b66c;
}

.feature-item:first-child {
    border-left: none;
}

.feature-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-title {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.reference dd img {
    border-radius: 5px;
}

.reference-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.reference-source {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    color: #444444;
}

.reference-source a {
    color: #834700;
}

.reference-source a:hover {
    color: #6a3900;
}

.reference-source a:active {
   color: #cab7a2; 
}

.reviews {
    background-color: #ede5d8;
}

.review-author {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
}