body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: #fff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
  

.container {
    margin: 0 auto;
    height: 100%;
}

.w1015 {
    width: 1015px;
}

.w800 {
    width: 800px;
}

.page-header {
    color: #fff;
    background-color: #363636;
    background-image: url("img/wheat-back.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 525px;
    padding-top: 60px;
}

.header-top {
    
}

.header-logo {
    float: left;
    width: 140px;
    height: 76px;
}

.main-nav {
    list-style: none;
    float: right;
    margin: 10px 0 7px 0;
    line-height: 57px;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 600px;
}

.main-nav li {
    text-transform: uppercase;
    float: left;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
}

.main-nav a:hover {
    color: #ffcb78;
    border-bottom: 1px solid #fff;
}

.main-nav a:active {
    color: rgba(255, 203, 120, 0.3);
    border-bottom: 1px solid #fff;
}

.btn {
    color: #834700;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    color: #6a3900;
}

.btn:active {
    color: rgba(106, 57, 0, 0.3);
}

.promo {
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;  
}

.promo a {
    color: #fff;
    text-decoration: none;
}

.features {
    background-color: #ffcb78;
}

.features ul {
    list-style: none;
}

.feature-item {
    text-align: left;
    border-left: 1px solid #e5b66c;
    padding-top: 80px;
}

.feature-item:first-child {
    border-left: none;
}

.feature-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.feature-cook {
    background: url("img/icon-brew.png") top left no-repeat;
}

.feature-native {
    background: url("img/icon-matreshka.png") top left no-repeat;
}

.feature-economy {
    background: url("img/icon-thumbsup.png") top left no-repeat;
}

.section-title {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.reference dd img {
    border-radius: 5px;
}

.reference-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.reference-source {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    color: #444444;
}

.reference-source a {
    color: #834700;
}

.reference-source a:hover {
    color: #6a3900;
}

.reference-source a:active {
   color: #cab7a2; 
}

.reviews {
    background-color: #ede5d8;
}

.review-item {
    background: url("img/quotes.png") top left no-repeat;
    padding-left: 64px;
}

.review-author {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
}

.price-list {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px;
}

.price-list th {
    font-size: 11px;
    text-transform: uppercase;
    color: #999999;
    text-align: left;
}

.price-list td {
    border-bottom: 1px solid #e5e5e5;
}

.price-list .price-name {
    font-weight: bold;
    text-transform: uppercase;
}

.price-list .price-cost {
    text-align: right;
}

.feedback {
    background-color: #ffcb78;
}

.feedback-form-group {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
    font: inherit;
    color: inherit;
    border: 1px solid #e5b76c;
    background-color: #e5b76c;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
    background-color: #d9ad66;
    border-color: #d9ad66;
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
    background-color: #fff;
    border-color: #fff;
}

.page-footer {
    background-color: #000000;
}

.footer-bottom {
    font-size: 14px;
    line-height: 20px;
    color: #989898;
}

.footer-bottom a {
    color: #989898;
}

